@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c20;
  --foreground: #ffffff;
  --neutral-black: #0c0c20;
  --neutral-white: #f5f5f5;
  --primary-black: #0c0c20;
  --primary-green: #447055;
  --primary-white: #fff;
  --secondary-green: #acc080;
  --secondary-gray: #c4c4c4;
  --hyperlink: #6a826a;
  --hover-primary-green: #5c825c;
  --hover-primary-white: #e1e1dc;
}

.headline {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.p-alt {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

a {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 150% */

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans), Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
