@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c20;
  --foreground: #ffffff;
  --neutral-black: #0c0c20;
  --neutral-white: #f5f5f5;
  --primary-black: #0c0c20;
  --primary-green: #447055;
  --primary-white: #fff;
  --secondary-green: #acc080;
  --secondary-gray: #c4c4c4;
  --muted-green: #DAE5DD;
  --hyperlink: #6a826a;
  --hover-primary-green: #5c825c;
  --hover-primary-white: #e1e1dc;
}

.headline {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (min-width: 1280px) {
    font-size: 72px;
  }
}

.subheadline {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;

  @media (min-width: 1280px) {
    font-size: 24px;
    text-align: left;
  }
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  @media (min-width: 1280px) {
    font-size: 18px;
    line-height: 27px;
  }
}

a {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 150% */

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans), Helvetica, sans-serif;
}

@layer components {
  .slope-crop {
    object-fit: cover;
    object-position: bottom left;
    width: 100vw;
    height: 400px;

    @media (min-width: 768px) {
      height: 320px;
    }

    @media (min-width: 1280px) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 200px 100%);
      height: 100vh;
    }
  }

  .crop-cover {
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 322px;
  }

  .leaf-crop-left {
    border-radius: 0 100px 0 100px;
  }
  .leaf-crop-right {
    border-radius: 100px 0 100px 0;
  }

  .phone-frame {
    width: 175px;
    height: 351px;

    @media (min-width: 1280px) {
      width: 255px;
      height: 509px;
    }
  }

  .phone-screen-container {
    width: 165px;
    height: 342px;

    @media (min-width: 1280px) {
      width: 244px;
      height: 500px;
    }
  }

  .phone-screen {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1.4rem;
    z-index: 1;

    @media (min-width: 1280px) {
      border-radius: 2.2rem;
    }
  }

  .phone-screen-shadow {
    border-radius: 1.4rem;
    box-shadow: 0px 25px 48px -12px rgba(17, 24, 39, 0.25);
    z-index: 0;

    @media (min-width: 1280px) {
      border-radius: 2.2rem;
    }
  }

  .card-shadow {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  }

  .astronaut-bg {
    background: url('/images/Astronaut.jpg');
    background-size: cover;
    width: 100vw;
    background-position: center;
    object-position: top center;
  }

  .evergrow-text {
    font-weight: 700;
    font-style: italic;
  }

  .starry-bg {
    background: url('/images/Starry.jpg');
    background-size: cover;
    width: 100vw;
    background-position: center;
    object-position: top center;
  }
}
